{% extends "base.html" %}
{% block title%}
    {{ title }}
{% endblock %}
{% block main%}
    <div class="container">
        <div class="panel-heading">
           <div class="panel-title text-center">
                <h1 class="title">{{ title }}</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="list-group">
                <ul class="listrap">
                    {% for app in list %}
                        <li class="col-md-6">
                            <a href="rate/{{ app.id }}">
                                <div class="listrap-toggle">
                                    <span></span>
                                    <img src="http://lorempixel.com/60/60/people/?v=1" class="img-circle" />
                                </div>
                                <strong>{{ app.user.first_name }} {{ app.user.last_name }}</strong>
                                <h5 class="mb-1">{{ app.description }}</h5>
                                <p class="mb-1"><a href="{{ app.document.url }}">{{ app.document }}</a></p>
                                <div id="stars1" class="starrr"></div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}